.gmail-link {
    background-color: blueviolet;
    margin-left: 1400px;
}

.bild-input-knappar {
    background-color: cadetblue;
    margin: 450px;
}

.litevanster {
    margin-left: 50px;
}

.lite-mer-vanster {
    margin-left: 100px;
}